* {
  box-sizing: border-box;
}

body {
  background: #373b44;
  background: -webkit-linear-gradient(to right, #4286f4, #373b44);
  background: linear-gradient(to right, #4286f4, #373b44);
  margin: 20px;
  padding: 0;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 36px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 22px;
}

code {
  font-size: 12.2em;
}

ul {
  padding-inline-start: 27px;
}

.square {
  width: 120px;
  height: 120px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #135663;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(14, 120, 169);
  transition: background-color 0.2s ease-in-out;
}

.square:hover {
  background-color: #154360;
}

.last-move {
  background-color: seagreen !important;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.list-group {
  background-color: transparent;
  border: none;
}

.list-group-item {
  height: 120px;
  background-color: transparent !important;
  border: none;
  display: flex;
  justify-content: center;
}

.list-group-item button {
  width: auto;
  min-width: 130px;
  text-align: center;
}
